# An Introduction to Data Types

Intro paragraph

# Slides

Use the left ⬅️ and right ➡️ arrow keys to navigate through the slides
below. To view in a separate tab/window,
<a href="slides.html" target="_blank">follow this link</a>.

<iframe src="slides.html" height="500" width="100%">

</iframe>

# Assigning types to variables

## Automatically

Python automatically assigns a type to a variable based on the value we
put into it. We can use the `type()` function to see what type has been
given to each variable.

In [1]:
our_integer = 1
our_float = 2.2
our_integer_turned_into_a_float = float(our_integer)
our_string="Hello SCW!"

## Manually

If we need to, we can use a *constructor function* named after the data
type, like `int()` or `str()` to force a variable to be the specific
type we need it to be.

In [2]:
a = str("123")
b = float(2)
c = int(1.9) # just throws away the .9; not rounded!
print ('a is a ' + str(type(a))+' with the value ' + str(a))
print ('b is a ' + str(type(b))+' with the value ' + str(b))
print ('c is a ' + str(type(c))+' with the value ' + str(c))

a is a <class 'str'> with the value 123
b is a <class 'float'> with the value 2.0
c is a <class 'int'> with the value 1

## Finding out what type a variable is

In [3]:
print (type(a))
print (type(b))
print (type(c))

<class 'str'>
<class 'float'>
<class 'int'>

# Data types

## Booleans

Bools are often an intermediate - they are an output of evaluations like
`1 == 2`. Booleans may sound very basic, but they are crucial in
understanding control flow, which we’ll be covering in a future session!

In [4]:
z = True            # you'll rarely ever assign a boolean directly like this, but do note they are
                    # case sensitive; z = true wouldn't have worked here.
print(type(z))      # output: <class 'bool'>
print (10>9)        # output: True
print (1 == 2)      # output: False
 
print(bool(123))    # output: True
print(bool("abc"))  # output: True
print(bool(None))   # output: False
print(bool(0))      # output: False

<class 'bool'>
True
False
True
True
False
False

## Numeric types

In [5]:
a = 10              # int
b = 3               # int
c = 2.5             # float
d = -2              # int

print(a+b)          # output: 13, an int
print(a+c)          # output: 12.5, a float
 
print(float(a))     # output: 10.0
print(int(2.88))    # output: 2; just throws away the decimal part
 
print(round(2.88))  # output: 3
print(round(2.88,1))# output: 2.9

13
12.5
10.0
2
3
2.9

## Strings

In [6]:
str_a = "Hello"              # string
str_b = "SCW!"               # string

str_ab = str_a + " " + str_b # python repurposes the "+" to mean string concatenation as well as addition
print(str_ab)                # output: Hello SCW!
 
print(str_ab.find("SCW"))    # output:6 (the location in the string of the substring "SCW". Starts from 0!)
 
str_repeated = str_ab * 3 
print(str_repeated)          # output: Hello SCW!Hello SCW!Hello SCW!
 
print(len(str_a))            # output: 5
print(str_a[0])              # output: H
print(str_a[0:3])            # output: Hel (give me 3 characters starting at 0)
print(str_a[3:])             # output: lo (give me everything starting at 3)
print(str_a[:5])             # output: Hello (give me the first 5 characters)

Hello SCW!
6
Hello SCW!Hello SCW!Hello SCW!
5
H
Hel
lo
Hello

## Lists

In [7]:
fruits = ["banana", "lychee", "raspberry", "apple"]
print(fruits[0])        #output: banana (string)
print(fruits[0:2])      #output: ['banana','lychee'] (list!)
print(fruits[-1])       #output: apple (string)

fruits.append("orange")
print(fruits)           #output: ['banana', 'lychee', 'raspberry', 'apple', 'orange']

print("orange" in fruits) #output: True
print("tomato" in fruits) #output: False

fruits.sort()
print(fruits)           #output: ['apple', 'banana', 'lychee', 'orange', 'raspberry']

mixed_list = ["blue", "green", False, 2, 2.55] #each item in a list can be a different data type!
for item in mixed_list:
    print(type(item))   #output:<class 'str'> <class 'str'> <class 'bool'> <class 'int'> <class 'float'>

str_number = "123"
print(type(str_number)) #output:<class 'str'>
str_number=int(str_number)
print(type(str_number)) #output:<class 'int'>

a = 321
print(type(a))          #output:<class 'int'>
a = float(a)
print(type(a))          #output:<class 'float'>

#b = int("kiwi")        #output: ValueError: invalid literal for int() with base 10: 'kiwi'

banana
['banana', 'lychee']
apple
['banana', 'lychee', 'raspberry', 'apple', 'orange']
True
False
['apple', 'banana', 'lychee', 'orange', 'raspberry']
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

## Dicts

In [8]:
SCW_basic_info={
    "org_code": "0DF",
    "short_name": "SCW CSU",
    "long_name": "NHS South, Central and West Commissioning Support Unit",
    "year_opened": 2014,
    "active":True,
    "postcode":"SO50 5PB"
}

print(type(SCW_basic_info["active"]))       #output: <class 'bool'>
print(type(SCW_basic_info["year_opened"]))  #output: <class 'int'>

print(SCW_basic_info["org_code"])           #output: "0DF"
print(len(SCW_basic_info))                  #output: 6

SCW_basic_info["number_of_staff"] = 1000    #we can easily add a new key and value at the same time

print(len(SCW_basic_info))                  #output: 7

SCW_basic_info["number_of_staff"] += 1      #we hired a new member of staff
print(SCW_basic_info["number_of_staff"])    #output: 1001

<class 'bool'>
<class 'int'>
0DF
6
7
1001

# Exercises